* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #91a56a;
    max-width: 767px;
}
.cabeza {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 187px;
    justify-content: space-between;
}
.menu {
    display: flex;
    min-width: 100%;
    max-width: auto;
    align-items: flex-end;
    font-family: monospace;
    font-size: 20px;
    color: #073b07;
    text-align: right;

}
.menu .secciones ul {
    align-items: flex-end;
}

.logo {
    display: flex;
    width: 167px;
    height: 167px;
}
.logo img {
    width: 100%;
    height: auto;
}
.secciones {
    text-align: right;
}
.secciones li {
    list-style-type: none;
    display: inline;
    margin: 5px;
}
.segmento {
    background: linear-gradient(#38ec38,#9acd32);
    font-family: monospace;
    color: #2c032c;
    border: 2px dotted; color: #073b07;
    padding: 15px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.segmento h1 {
    background-color: #c6f36b;
    font-size: 30px;
    text-align: center;
}
.segmento h2 {
    text-decoration: underline;
    font-size: 25px;
    font-style: oblique;
}
.segmento p {
    font-size: 20px;
    text-align: center;
    padding: 0 5px;
}
 .grid-item img {
     width: 100%;
     height: auto;
 }
.introduccion {
    text-align: center;
    margin-top: 10px 10px;
    background-color: #9acd32;
    border: 5px dashed #073b07;
    font-size: 17px;
    font-family: monospace;
    font-style: oblique;
}
.percu {
    background-color: #c6f36b;
    font-style: oblique;
    font-size: 22px;
}
.campo2 {
    margin-top: 40px;
    margin-left: 20px;
    font-family: monospace;
    color: #073b07;
}

footer p {
    font-family: monospace;
    font-size: 15px;
    color: #073b07;
    text-align: center;
}